// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";



// * Use sass to create the mockup. 
// * Make use of nesting and variables where possible.
// * Make sure to design for mobile first! 
// * Breakpoints:
//     - 768px - tablet 
//     - 1024px - desktop
// * Colors for styling: 
//     - Card background color: #e0ddb2
//     - Card and aside borders: #dad6ab
//     - Color used for nav and footer: #016690
// * Use the images in the [images folder](./src/images) for the header and cards.

// ![mockup-image-mobile](./images_reference/mobile1.png)

// ![mockup-image-mobile](./images_reference/mobile2.png)

// ![mockup-image-tablet](./images_reference/tablet.png)

// ![mockup-image-desktop](./images_reference/desktop.png)

$card-bg:#e0ddb2;
$border-color:#dad6ab;
$footer-bg:#016690;

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;

    #head_section {
        margin-top: 25px;
        width: 100vw;
        height: 500px;
        background-image: url("../images/header.jpg");
        background-size: cover;

        h1 {

            font-weight: bold;
            text-align: center;
            padding-top: 50px;
        }
    }
}

#card_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    >div {
        border: $border-color solid 2px;
        margin-top: 30px;
        border-radius: 5px;
        height: 500px;
        width: 300px;
        background-color: $card-bg;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
        grid-gap: 10px;
        padding: 20px;

        &:nth-child(1) {
            .pic {
                background-image: url("../images/mountain.jpg");
                background-size: cover;
            }
        }

        &:nth-child(2) {
            .pic {
                background-image: url("../images/surfer.jpg");
                background-size: cover;
            }
        }

        &:nth-child(3) {
            .pic {
                background-image: url("../images/tree.jpg");
                background-size: cover;
            }
        }
    }
}

#info_container {
    padding:10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        padding: 20px;
        width: 90%;
        height: 300px;
    }

    .aside {
        border: $border-color solid 1px;
    }
}

nav {
    ul {
        width: 50vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        a {
            padding-top: 20px;
            display: block;
            line-height: 30px;
        }
    }
}

footer {
    margin-top: 20px;
    background-color: $footer-bg;

    ul {
        width: 50vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        a {
            color: white;
            padding-top: 20px;
            padding-bottom: 20px;
            display: block;
            line-height: 30px;
        }
    }
}

@media (min-width: 768px) {
    nav {
        ul {
            padding-right: 20px;
            width: 100vw;
            justify-content: flex-end;

            a {
                width: 100px;
                text-align: center;
            }
        }
    }

    #card_container {
        div {
            grid-template-rows: 1fr;
            grid-template-columns: 2fr 3fr;
            height: 200px;
            width: 80%;

            .pic {
                height: 80%;
            }
        }
    }

    #info_container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: start;

        div {
            height: auto;
        }

        .Article {
            height: 100%;
        }
    }
}

@media (min-width: 1024px) {
    body{
        #head_section{
            height: 300px;
        }
    }

    #card_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly
        ;
        >div {
        width: 48%;
        height: auto;
            .pic {
                height: 100%;
            }
            .text{
                font-size: 15px;
            }
        }
    }


}